body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #2fac66;
}

label {
  color: #fff;
}

.title {
  text-align: center;
  margin: 0 auto;
  color: #fff;
  width: 50vw;
  padding: 0px; 
}

.text {
  text-align: center;
  margin-left: 5px;
  width: 10%;
  border: none;
  border-radius: 25px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.item label{
    color: #fff;
}

.item input{
  width: 25%;
}

#labelP {
  display: flex;
  justify-content: space-between;
}

#labelP input{
  width: 55%;
}

.subMenu{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px 0;
}

.view {
  display: inline-block;
  padding: 0 20px 0 50px;
  margin-top: 5px;
}
 
.subMenu button{
  margin: 0 50px 0 20px;
  background-color: #147567;
  color: #fff;

}

p {
  font-size: 20px;
  color: #fff;
}

#stage {
  width: 98vw;
  height: 60vh;
  margin: 0 auto;
  background-color: black;
}

.valueM {
  margin: 0 auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  width: 98vw;
  margin-bottom: 15px;
  margin-top: 4px;
  padding: 4px;
}

#t {
  width: 20%;
  margin-left: 10px;
  display: inline-block;
}

#t:disabled:hover {
  cursor: not-allowed;
}

#show_t {
  margin-right: 5px;
  margin-left: 5px;
  border: thin solid #f8fce8;
  padding: 10px;
}

